/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3936368 */
  src: url('https://at.alicdn.com/t/c/font_3936368_0482ibuabzr4.woff2?t=1721922493734') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3936368_0482ibuabzr4.woff?t=1721922493734') format('woff'),
       url('https://at.alicdn.com/t/c/font_3936368_0482ibuabzr4.ttf?t=1721922493734') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dual-left:before {
  content: "\e641";
}

.icon-dual-right:before {
  content: "\e6b9";
}

.icon-xiala:before {
  content: "\e6b8";
}

.icon-check2:before {
  content: "\e630";
}

.icon-check3:before {
  content: "\e60c";
}

.icon-check1:before {
  content: "\e610";
}

