@import url('./icon/iconfont.css');
@ant-table-border-color: #ccc;
@ant-table-header-color: #fafafa;
@ant-table-hover-color: #fafafa;
@ant-table-tr-height: 48px;
@ant-table-font-size: 16px;


.ant-table {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #f9f9f9;

    table {
        width: 100%;
    }

    thead {
        background-color: #EFEFEF;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 500;

        th{
            height: @ant-table-tr-height;
            font-size: @ant-table-font-size;
            text-align: center;
            box-shadow: 1px -1px 0 @ant-table-border-color inset;
            &:first-child{
                box-shadow: 0px -1px 0 @ant-table-border-color inset;
            }
        }
    }

    tbody {
        td{
            height: @ant-table-tr-height;
            font-size: @ant-table-font-size;
            text-align: center;
            box-shadow: 1px -1px 0 @ant-table-border-color inset;
            &:first-child{
                box-shadow: 0px -1px 0 @ant-table-border-color inset;
            }
        }
        tr{
            background-color: #fff;
            &:hover{
                background-color: @ant-table-hover-color;
            }
            &:last-child{
                td{
                    box-shadow: 1px 0 0 @ant-table-border-color inset;
                    &:first-child{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.ant-table-body {
    border: 1px solid @ant-table-border-color;
    border-radius: 4px;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    // 隐藏滚动条
    scrollbar-width: none; // 火狐

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    .nodata{
        display: none;
    }
}

// 没数据时
.ant-table-nodata{
    height: 100%;
    display: flex;
    flex-direction: column;
    .nodata{
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// 多选框
.iconcheck {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    transform: translateX(-30%);
}

.icon-check2,
.icon-check3 {
    color: #1890FF;
}